#
# Configuration file for the digital preservation workflow
# 

[ACCESSION]
accession_id = 013_002_0026

[BAGGER]
# You can specify a comma separated list of directories as source: dir1, dir2, ...
source_dir = C:\Users\garcm0b\Work\boat_trip_pictures, C:\Users\garcm0b\Work\my_event_1
# Using Python ExtendedInterpolation to use the 'accession_id' as target directory
dest_dir = C:\Users\garcm0b\Work\${ACCESSION:accession_id}
# If 'false' the script will stop the the destination directory already exists.

[DROID]
droid_dir = C:\Users\garcm0b\Work\Droid\mg_droid
droid_bin = droid.bat
# The profile is the database with the metadata in binary format. 
# We just want the csv file, so we remove the profile.
keep_profile = true

[JHOVE]
jhove_dir = C:\Users\garcm0b\Work\jhove
jhove_bin = jhove.bat
jhove_module = jpeg-hul
jhove_xml = true
