#
# Define the parameters for ArchivEra API
#

[API]
url = 'https://path.to.archive/public'
client_id = 'api_client'
grant_type = 'my grant type'
username = 'my API user'
database = 'my database'

[QUARANTINE]
quarantine_dir = quarantine
# Quarantine duration.
quarantine_days = 30